html,
body {
    width: 100%;
    background: #fff;
    overflow: hidden;
}

.container {
    font-size: 40px;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 1.5px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 40px;
}

.container * {
    display: inline-block;
    overflow: hidden;
    position: absolute;
}


.container1 {
    font-size: 40px;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 1.5px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 40px;
}

.container1 * {
    display: inline-block;
    overflow: hidden;
    position: absolute;
}

.container2 {
    font-size: 40px;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 1.5px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 40px;
}

.container2 * {
    display: inline-block;
    overflow: hidden;
    position: absolute;
}

.container3 {
    font-size: 40px;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing: 1.5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 40px;
}

.container3 * {
    display: inline-block;
    overflow: hidden;
    position: absolute;
}

.bar {
    width: 3px;
    height: 49px;
    position: absolute;
    top: -1px;
}